body {
	background-color: powderblue;
	text-align: center;
}

.Begin {
	visibility: hidden;
	position: absolute;
}

/*.FileChoice {
	visibility: hidden;
	position: absolute;
}*/

.Common {
	visibility: hidden;
	position: absolute;
}

.Demo {
	visibility: hidden;
	position: absolute;
}

.Place {/*
	visibility: hidden;
	position: absolute;*/
}